.btn:hover{
    background: transparent;
    transition: .3s;
    color: black;
}
.btn{
    border-radius: 8px;
    display: inline-block;
    color: #fff;
    border-bottom: none;
    width: 100%;
}
